---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
 annotations:
  controller-gen.kubebuilder.io/version: v0.19.0
 name: planpolicies.extensions.kuadrant.io
spec:
 group: extensions.kuadrant.io
 names:
  kind: PlanPolicy
  listKind: PlanPolicyList
  plural: planpolicies
  singular: planpolicy
 scope: Namespaced
 versions:
 - name: v1alpha1
  schema:
   openAPIV3Schema:
    description: PlanPolicy enables rate limiting through plans of identified requests
    properties:
     apiVersion:
      description: APIVersion defines the versioned schema of this representation of an object.
      type: string
     kind:
      description: Kind is a string value representing the REST resource this object represents.
      type: string
     metadata:
      type: object
     spec:
      description: PlanPolicySpec defines the desired state of PlanPolicy
      properties:
       plans:
        description: Plans defines the list of plans for the policy.
        items:
         properties:
          limits:
           description: Limits contains the list of limits that the plan enforces.
           properties:
            custom:
             description: Custom defines additional limits in terms of a RateLimitPolicy Rate.
             items:
              properties:
               limit:
                type: integer
               window:
                pattern: ^([0-9]{1,5}(h|m|s|ms)){1,4}$
                type: string
              required:
              - limit
              - window
              type: object
             type: array
            daily:
             type: integer
            monthly:
             type: integer
            weekly:
             type: integer
            yearly:
             type: integer
           type: object
          predicate:
           description: Predicate is a CEL expression used to determine if the plan is applied.
           minLength: 1
           type: string
          tier:
           description: Tier this plan represents.
           type: string
         required:
         - predicate
         - tier
         type: object
        type: array
       targetRef:
        description: Reference to the object to which this policy applies.
        properties:
         group:
          maxLength: 253
          pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
          type: string
         kind:
          maxLength: 63
          minLength: 1
          pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
          type: string
         name:
          maxLength: 253
          minLength: 1
          type: string
         sectionName:
          maxLength: 253
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
          type: string
        required:
        - group
        - kind
        - name
        type: object
        x-kubernetes-validations:
        - message: Invalid targetRef.group. The only supported value is 'gateway.networking.k8s.io'
         rule: self.group == 'gateway.networking.k8s.io'
        - message: Invalid targetRef.kind. The only supported values are 'HTTPRoute' and 'Gateway'
         rule: self.kind == 'HTTPRoute' || self.kind == 'Gateway'
      required:
      - plans
      - targetRef
      type: object
     status:
      description: PlanPolicyStatus defines the observed state of PlanPolicy
      properties:
       conditions:
        items:
         properties:
          lastTransitionTime:
           format: date-time
           type: string
          message:
           maxLength: 32768
           type: string
          observedGeneration:
           format: int64
           minimum: 0
           type: integer
          reason:
           maxLength: 1024
           minLength: 1
           pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
           type: string
          status:
           enum:
           - "True"
           - "False"
           - Unknown
           type: string
          type:
           maxLength: 316
           pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
           type: string
         required:
         - lastTransitionTime
         - message
         - reason
         - status
         - type
         type: object
        type: array
        x-kubernetes-list-map-keys:
        - type
        x-kubernetes-list-type: map
       observedGeneration:
        format: int64
        type: integer
      type: object
    type: object
  served: true
  storage: true
  subresources:
   status: {}
