apiVersion: apps/v1
kind: Deployment
metadata:
 name: authorino-operator-controller-manager
 namespace: {{ .Values.namespace }}
 labels:
  app.kubernetes.io/name: authorino-operator
  app.kubernetes.io/managed-by: helm
  control-plane: authorino-operator-controller-manager
spec:
 replicas: 1
 selector:
  matchLabels:
   control-plane: authorino-operator-controller-manager
 template:
  metadata:
   labels:
    control-plane: authorino-operator-controller-manager
  spec:
   serviceAccountName: {{ .Values.rbac.serviceAccountName }}
   {{- if .Values.pullSecret.dockerConfigJson }}
   imagePullSecrets:
    - name: {{ .Values.pullSecret.name }}
   {{- end }}
   containers:
   - name: manager
     image: {{ .Values.components.authorino.operator.image.registry }}/{{ .Values.components.authorino.operator.image.repository }}@{{ .Values.components.authorino.operator.image.digest }}
     imagePullPolicy: IfNotPresent
     command:
     - /manager
     args:
     - --health-probe-bind-address=:8081
     - --metrics-bind-address=:8080
     env:
     - name: WATCH_NAMESPACE
       value: ""
     - name: RELATED_IMAGE_AUTHORINO
       value: {{ .Values.components.authorino.instance.image.registry }}/{{ .Values.components.authorino.instance.image.repository }}@{{ .Values.components.authorino.instance.image.digest }}
     ports:
     - containerPort: 8080
       name: metrics
       protocol: TCP
     - containerPort: 8081
       name: health
       protocol: TCP
     livenessProbe:
       httpGet:
         path: /healthz
         port: 8081
       initialDelaySeconds: 15
       periodSeconds: 20
     readinessProbe:
       httpGet:
         path: /readyz
         port: 8081
       initialDelaySeconds: 5
       periodSeconds: 10
     resources:
       limits:
         cpu: 500m
         memory: 512Mi
       requests:
         cpu: 10m
         memory: 64Mi
     securityContext:
       {{- toYaml .Values.securityContext | nindent 12 }}
   securityContext:
    runAsNonRoot: true
   terminationGracePeriodSeconds: 10
