apiVersion: v1
kind: ServiceAccount
metadata:
 name: {{ .Values.rbac.serviceAccountName }}
 namespace: {{ .Values.namespace }}
 labels:
  app.kubernetes.io/name: kuadrant-operator
  app.kubernetes.io/managed-by: helm
{{- if .Values.pullSecret.dockerConfigJson }}
imagePullSecrets:
 - name: {{ .Values.pullSecret.name }}
{{- end }}
