apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/created-by: cert-manager-operator
    app.kubernetes.io/instance: controller-manager-metrics-service
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: service
    app.kubernetes.io/part-of: cert-manager-operator
    control-plane: controller-manager
  name: cert-manager-operator-controller-manager-metrics-service
  namespace: {{ .Values.operatorNamespace }}
spec:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: https
  selector:
    control-plane: controller-manager
