name: Check links

on:
  pull_request:
    paths:
      - '**/*.md'
      - '.lychee.toml'
      - '.github/workflows/link-check.yaml'

permissions:
  contents: read

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: lycheeverse/lychee-action@v2
        with:
          args: >
            --no-progress
            --exclude '^https?://localhost'
            '**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
